{% extends 'base.html' %}
{%block title%} Home {%endblock title%}
{%block body%}

<div class="container my-4">
</div>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/Img/index.jfif" width="900" height="500" class="d-block w-100" alt="image not available">
        <h4 class=" my-2 text-center"> Welcome to the ice cream parlour </h4>
        <h5 class="my-2 text-center"> We offer a large varity of ice-creams for our customers</h5>
      </div>
      <div class="carousel-item">
        <img src="/static/Img/index2.jfif" width="900" height="500" class="d-block w-100" alt="image not available">
        <h4 class="my-2 text-center"> We serve love with ice creams </h4>
        <h4 class="my-2 text-center"> Enjoy with love </h4>
      </div>
      <div class="carousel-item">
        <img src="/static/Img/index3.jfif" width="900" height="500" class="d-block w-100" alt="image not available">
        <h4 class="my-2 text-center"> We customizes our products as per customers demand</h4>
        <h5 class="my-2 text-center"> Make your partner's day Joyful with dessert </h5>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <h1 class="my-4 text-center"> Select from a range of ice creams </h1> 

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/Img/4.jfif" width="900" height="300" class="d-block w-100" alt="image not available">
          <div class="card-body">
            <p class="card-text">White caremal softy with green chocolate.</p>
            <p class="card-text">Rs.99 only</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/Img/gelato.jfif" width="900" height="300" class="d-block w-100" alt="image not available">
          <div class="card-body">
            <p class="card-text">Gelato softy cone</p>
            <p class="card-text">Rs.65 only</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/Img/vanilla.jfif" width="900" height="300" class="d-block w-100" alt="image not available">
          <div class="card-body">
            <p class="card-text">vanila ice cream</p>
            <p class="card-text">Rs.99 only</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy now</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/Img/Kulfi.jfif" width="900" height="300" class="d-block w-100" alt="image not available">
          <div class="card-body">
            <p class="card-text">Kulfi ice cream</p>
            <p class="card-text">Rs.49 only</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/Img/Sorbet.jfif" width="900" height="300" class="d-block w-100" alt="image not available">
          <div class="card-body">
            <p class="card-text">Sorbet ice cream</p>
            <p class="card-text">Rs.75 only</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/Img/frozen yogert.jfif" width="900" height="300" class="d-block w-100" alt="image not available">
          <div class="card-body">
            <p class="card-text">Frozen yogert ice cream</p>
            <p class ="card-text">Rs.99 only</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <button type="button" class="btn btn-sm btn-outline-secondary">Buy now</button>
               </div>
             </div> 
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/Img/strawberry.jfif" width="900" height="300" class="d-block w-100" alt="image not available">
          <div class="card-body">
            <p class="card-text">strawberry Ice cream</p>
            <p class="card-text">Rs.80 only</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/Img/italian ice.jfif" width="900" height="300" class="d-block w-100" alt="image not available">
          <div class="card-body">
            <p class="card-text">Italian ice cream</p>
            <p class="card-text">Rs.65 only</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/Img/faloodeh.jfif" width="900" height="300" class="d-block w-100" alt="image not available">
          <div class="card-body">
            <p class="card-text">Faloodeh ice cream</p>
            <p class="card-text">Rs.99 only</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock body%}

